services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "19092:19092"  # host local producer/consumer
      - "19093:19093"  # internal, Kafka UI
      - "19094:19094"  # KRaft controller
    environment:
      # KRaft mode
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1

      # Controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:19094"

      # Listeners
      KAFKA_LISTENERS: "PLAINTEXT_HOST://0.0.0.0:19092,PLAINTEXT_INTERNAL://0.0.0.0:19093,CONTROLLER://0.0.0.0:19094"

      # Advertised listeners (chỉ broker listener, không có controller)
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT_HOST://localhost:19092,PLAINTEXT_INTERNAL://kafka:19093"

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT_HOST:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL

      # Log dirs
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

      # Auto topic
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

      # Replication (1 node)
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      #Retention
      KAFKA_LOG_RETENTION_MS: 600000 # 10 minutes
      KAFKA_LOG_RETENTION_BYTES: 10737418240

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "18080:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:19093  # internal listener

  flink-jobmanager:
    image: flink:2.1.1-java11
    container_name: flink-jobmanager
    ports:
      - "18081:8081"
    command: jobmanager
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2

  flink-taskmanager:
    image: flink:2.1.1-java11
    container_name: flink-taskmanager
    depends_on:
      - flink-jobmanager
    command: taskmanager
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2
        taskmanager.memory.process.size: 2048m